@font-face {
  font-family: 'Myfont';
  src: url('./Roboto-Regular.ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'Myfont';
  background: url('./icon.png');
}